table {
    border-collapse: collapse;
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
}

th {
    padding: 0.2em 0.8em;
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    width: 128px;
}

td {
    padding: 0.2em 0.8em;
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

.td-separator {
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
}
